<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sign Language Translator</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='dashboard/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- <iframe src="35.231.225.115"></iframe> -->
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='dashboard/css/simple-sidebar.css') }}" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper"  style="background-color: rgb(226, 106, 106);">
      <div class="sidebar-heading">SLT </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Home</a>
        <a href="/tutorials" class="list-group-item list-group-item-action bg-light">Tutorials</a>
        <a href="/profile" class="list-group-item list-group-item-action bg-light">Profile</a>
        <a href="/alphabets" class="list-group-item list-group-item-action bg-light">Help</a>
        <a href="/index2" class="list-group-item list-group-item-action bg-light">Logout</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn" id="menu-toggle"  style="background-color: rgb(226, 106, 106);"><span class="navbar-toggler-icon"></span></button>
      </nav>

      <div class="container-fluid">
        <form method="POST">
        <button formaction="/translate">Click to Translate</button>
      </form>
      </div>
    </div>
    <p>Translation is {{ value_res }}</p>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="dashboard/vendor/jquery/jquery.min.js"></script>
  <script src="dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
