.form-control {
		font-size: 16px;
		transition: all 0.4s;
		box-shadow: none;
	}
	.form-control:focus {
        border-color: #5cb85c;
    }
    .form-control, .btn {
        border-radius: 50px;
		outline: none !important;
    }
	.signup-form {
		width: 500px;
    	margin: 0 auto;
		padding: 30px 0;
	}
    .signup-form form {
		border-radius: 5px;
    	margin-bottom: 20px;
        background: #fff;
        box-shadow: 2px 2px 2px 6px rgba(0, 0, 0, 0.3);
        padding: 40px;
    }
	.signup-form a {
		color: #5cb85c;
	}    
	.signup-form h2 {
		text-align: center;
		font-size: 34px;
		margin: 10px 0 15px;
	}
	.signup-form .hint-text {
		color: #999;
		text-align: center;
		margin-bottom: 20px;
	}
	.signup-form .form-group {
		margin-bottom: 20px;
	}
    .signup-form .btn {        
        font-size: 18px;
		line-height: 26px;
        font-weight: bold;
		text-align: center;
    }
	.signup-btn {
		  border: none;
		  color: white;
		  display: inline-block;
		  text-transform: uppercase;
		  text-decoration: none;
		  padding: 20px 50px;
		  border-radius: 3px;
		  margin:5px;
		  border-bottom-style: solid;
		  border-bottom-width: 3px;
		  transition: text-shadow 0.3s ease;
	}
	.signup-btn:hover {
		text-shadow: 2px 2px 0px rgba(0,0,0,.3)
	}
	.signup-btn:hover {
		background: #5cb85c;
		opacity: 0.8;
	}
	/* vertical line */
	.vl {
	  position: absolute;
	  left: 50%;
	  transform: translate(-50%);
	  border: 2px solid #ddd;
	  height: 175px;
	}

	/* text inside the vertical line */
	.vl-innertext {
	  position: absolute;
	  top: 50%;
	  transform: translate(-50%, -50%);
	  background-color: #f1f1f1;
	  border: 1px solid #ccc;
	  border-radius: 50%;
	  padding: 8px 10px;
	}
	
    .social-btn .btn {
		color: #fff;
        margin: 10px 0 0 15px;
		font-size: 15px;
		border-radius: 50px;
		font-weight: normal;
		border: none;
		transition: all 0.4s;
    }	
	.social-btn .btn:first-child {
		margin-left: 0;
	}
	.social-btn .btn:hover {
		opacity: 0.8;
	}
	.social-btn .btn-primary {
		background: #507cc0;
	}
	.social-btn .btn-danger {
		background: #df4930;
	}
	.social-btn .btn i {
		float: left;
		margin: 3px 10px;
		font-size: 20px;
	}
	input[type="text"],input[type="password"],input[type="email"],input[type="date"],select{
    outline: none;
    font-size: 16px;
    color: #3c3e44;
    padding: 20px 30px 10px 10px;
    margin: 0;
    border: none;
	border-radius: 3px;
    border-bottom: 2px solid #cecfd3;
    -webkit-appearance: none;
}
	select{
		width:200px;
	}
	textarea{
	 outline: none;
    font-size: 16px;
    color: #cecfd3;
    padding: 20px 30px 10px 10px;
    margin: 0;
    border: none;
	border-radius: 3px;
    border-bottom: 2px solid #cecfd3;
    -webkit-appearance: none;
	};
	input[type="radio"] {
    outline: none;
    font-size: 16px;
    color: #cecfd3;
    padding: 20px 30px 10px 10px;
    margin: 0;
    border: none;
	border-radius: 3px;
    border-bottom: 2px solid #cecfd3;
    
}
	.radio-inline{
	font-size: 16px;
	color: #cecfd3;

	}
.or-seperator {
        margin: 50px 0 15px;
        text-align: center;
        border-top: 1px solid #e0e0e0;
    }
    .or-seperator b {
        padding: 0 10px;
		width: 40px;
		height: 40px;
		font-size: 16px;
		text-align: center;
		line-height: 40px;
		background: #fff;
		display: inline-block;
        border: 1px solid #e0e0e0;
		border-radius: 50%;
        position: relative;
        top: -22px;
        z-index: 1;
    }
	/* vertical line */
	.vl {
	  position: absolute;
	  left: 50%;
	  transform: translate(-50%);
	  border: 2px solid #ddd;
	  height: 175px;
	}

	/* text inside the vertical line */
	.vl-innertext {
	  position: absolute;
	  top: 50%;
	  transform: translate(-50%, -50%);
	  background-color: #f1f1f1;
	  border: 1px solid #ccc;
	  border-radius: 50%;
	  padding: 8px 10px;
	}
	